* {
	padding: 0;
	margin: 0;
}

body { font-family: sans-serif; }

li {
    display: inline;
    padding-right: 25px;
        }
.btn{
    font-family: verdana;
    font-size: 1em;
    border:1px solid #a7bccf;
    color:black;
    background-color:#a7bccf;
        }
.btn:hover{
    border:1px solid #524f84;
    color:#F0F0F0;
    background-color:#524f84;
        }

.gallery {
          margin-bottom = 50px;
          background: #383838;
}

.gallery-cell {
          width: auto;
          height: 400px;
          margin-right: 30px;
          background: #383838;
}

.gallery-cell a {
          padding: 0px;
          margin: 0px;
}

.gallery img {
          display: block;
          height: 400px;
}

/* Slide */
.hover05 figure img {
            margin-left: 100px;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.4s ease-in-out;
            transition: .4s ease-in-out;
}
.hover05 figure:hover img {
            margin-left: 0;
}

/* Overlay */
#outer-box {
    height: 400px;
    display: block;
    position: relative;
}
#outer-box img {
  width: auto;
  height: 400px;
}
#outer-box #inner-box {
  background: #FD8698;
  height: 100%;
  width: auto;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 20px;
  transition: opacity .5s;
}
#outer-box #inner-box p {
  padding-left = 20px;
  padding-right = 20px;
  color: #fff;
  font-family: 'arial';
  text-align: left;
}
#outer-box #inner-box h1 {
  color: #fff;
  line-height: 150px;
  font-family: 'arial';
  text-align: center;
  font-size: 200%
}
#outer-box #inner-box img {
    height: 70px;
    width: auto;
}
#outer-box #inner-box ul{
    text-align:center;
    padding: 0;
}

#outer-box #inner-box li{
    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}

#outer-box #inner-box ul li img{
    display: inline;
    padding-right: 25px;
}

#outer-box #inner-box ul:hover li img {
    box-shadow: 0 0 15px 5px red;
    opacity: .25;
    -webkit-transform: scale(.6);
       -moz-transform: scale(.6);
        -ms-transform: scale(.6);
         -o-transform: scale(.6);
            transform: scale(.6);
}
#outer-box #inner-box ul li:hover img{
    box-shadow: none;
    opacity: 1;
    -webkit-transform: scale(1.4);
       -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
         -o-transform: scale(1.4);
            transform: scale(1.4);
}


/* line 34, ../sass/style.scss */
#outer-box:hover #inner-box {
  opacity: .9;
  transition: opacity .5s;
}

.automargin {
    margin-top: 50px;
}
